:root {
    --main: white;
    --primary: #00205b;
    --secondary: #76F5B0;
    --tertiary: #e08a09;
    --quaternary:#76F5B0;
    --fontBody:'Varela Round', sans-serif;
    --fontHead:'Varela Round', sans-serif;


}


body {
    background-color: var(--main);
    font-family: var(--fontBody);
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontHead);
}


.primary {
    background-color: var(--primary);
    color: white;
}

.secondary {
    background-color: var(--secondary);
    color: white;
}

.tertiary {
    background-color: var(--tertiary);
    color: white;
}

.quaternary {
    background-color: var(--quaternary);
    color: white;
}


.primary-text {
    color: var(--primary)
}

.secondary-text {
    color: var(--secondary);
}

.tertiary-text {
    color: var(--tertiary);
}

.quaternary-text {
    color: var(--quaternary);
}

.navbar {
    background-color: var(--primary);
    font-family: var(--fontBody);
}

.primary a {
    color: white;
}

.curved {
    border-radius: 3px;
}

hr {
    border-top: 2px solid var(--primary);
}