:root {
    --main: rgb(64, 0, 94);
    --primary: #074853;
    --secondary: #694280;
    --tertiary: #006b96;
    --quaternary: #1f1c19;
    --fontHead: 'Cormorant Garamond', serif;
    --fontBody: 'Lato', sans-serif;
}


body {
    background-color: var(--main);
    font-family: var(--fontBody);
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontHead);
    font-weight: bold;
}

h5 {
    font-size: 1.5rem;
}

.tavernHead {
margin-top: 10vh;
} 

.ml16 {
    color: #402d2d;
    padding: 40px 0;
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }

  @media only screen and (max-width: 800px) {
    .ml16 {
        font-size: 2em;
    }

    .tavernHead {
        margin-top: 5vh;
        } 
        
  }
  


.curved {
    border-radius: 5px;
	padding: 10px;
}


.main {
    background-color: var(--main);
    color: black;
}

.primary {
    background-color: var(--primary);
    color: white;
}



.secondary {
    background-color: var(--secondary);
    color: white;
}

.tertiary {
    background-color: var(--tertiary);
    color: white;
}

.quaternary {
    background-color: var(--quaternary);
    color: white;
}

p.firstLetter::first-letter {
    font-size: 200%;
    font-family: var(--fontHead);
}

.navbar {
    background-color: var(--primary);
}

a {
    background-color: inherit !important;
    border: none;
    color: white;
}

a:hover {
    color:var(--primary);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);

}

.btn-primary:hover {
    background-color: var(--tertiary);
    color: white;
    border-color: var(--tertiary);

}