:root{
	--color-A: #98DBC6;
	--color-B: #E6D72A;
	--color-C: #F18D9E;
	--color-D: #a9db98;
	--color-E: #c198db;
}

.background-A {
	background-color: var(--color-A);
}

.background-B {
	background-color: var(--color-B);
}

.background-C {
	background-color: var(--color-C);
}

.background-D {
	background-color: var(--color-D);
}
.background-E{
	background-color: var(--color-E);
}


body {
	padding-left: 5vw;
	padding-right: 5vw;
font-family: 'Red Hat Text', sans-serif;

}

h1, h2, h3, h4 {
	font-family: 'Lexend Zetta', sans-serif !important;
}

.row {
	padding: 0; 
	margin: 0; 
	}

	
.blackbg {
	background-color: black;
	}

.padr-3 {
	padding-right: .3em;
	}
	
	.padl-3 {
	padding-left: .3em;
	}
	
	.padt-3 {
	padding-top: .3em;
	}
	
	.padb-3 {
	padding-bottom: .3em;
	}
	

.whiteBG {
	background-color: white;
	}

.quadHolder > img{
	width: 100%;
}	
	
.ImgWrapperHeader {
	max-width:100%;
	max-height:100%;
}

.ImgWrapperHeader > img {
	width: 100%;
	}
	
.ParallaxWrapper {
	padding: 0;
	margin: 0;
	min-height: 50vh;
	width: 100%;	
}	

.parallax{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	background-image: url("../../img/ClothesMinded/huntress.jpg");
}

.parallaxCircus {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	background-image: url("../../img/ClothesMinded/circus.jpg");
}

.infoBox {
	padding: 6% 4%;
	color: white;
}

.productBox {
	height: 50%;
}


.cost {
	color: #e0e0e0;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, .5); 
}

.navbar{
    background-color:var(--color-A);
}

.header {
    margin-top: 90px;
}

@media only screen and (max-width: 768px){
.whiteBG {
	background-color: white;
	}
	
.productBox {
	height: 50%;
	}

}
