:root {
    --main: #830000;
    --primary: #004e07;
    --secondary: #004e07;
    --tertiary: #028d09;
    --quaternary: white;
    --fontHead: 'Cormorant Garamond', serif;
    --fontBody: 'Lato', sans-serif;
}


body {
    background-color: var(--main);
    font-family: var(--fontBody);
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontHead);
    font-weight: bold;
}

h5 {
    font-size: 1.5rem;
}

.tavernHead {
margin-top: 10vh;
} 

.ml16 {
    color: white;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }

  @media only screen and (max-width: 800px) {
    .ml16 {
        font-size: 1.2em;
    }


  }
  


.curved {
    border-radius: 5px;
	padding: 10px;
}


.main {
    background-color: var(--main);
    color: white !important;
}

.primary {
    background-color: var(--primary);
    color: white !important;
}

.secondary {
    background-color: var(--secondary);
    color: white !important;
}

.tertiary {
    background-color: var(--tertiary);
    color: white !important;
}

.quaternary {
    background-color: var(--quaternary);
    color: black !important;
}

p.firstLetter::first-letter {
    font-size: 200%;
    font-family: var(--fontHead);
}

.navbar {
    background-color: var(--primary);
}

a {
    background-color: inherit !important;
    border: none;
    color: white;
}

a:hover {
    color:var(--primary);
    text-decoration: none;
}

.btn-primary{
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.btn-primary:hover{
    background-color: var(--secondary);
    border-color: var(--secondary);

}

.silver {
    color: #A8A9AD;
}