:root {
    --main: white;
    --primary: #064273;
    --secondary: #76b6c4;
    --tertiary: #1da2d8;
    --quaternary: #7fcdff;
    --fontHead: 'Work Sans', sans-serif;
    --fontBody: 'Lato', sans-serif;
}


body {
    background-color: var(--main);
    font-family: var(--fontBody);
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontHead);
}
	
	
	.heroImg { 
	background: url("CityImg/PortCity.jpg") no-repeat center; 
	background-size: cover; 
	height: 50vh; 
	position: relative;  
	}

        .heroImg:before {
            background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.3));
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

.imgText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-family: var(--fontHead);
}

.test {
	border: 2px solid red;
}

.directoryButton {
	height: 100%;
	border-radius: 5px;
	padding: 10px;
}

.banner {
	border-radius: 5px;
	padding: 10px;
}

.whiteBG {
	background-color: white;
	border-radius: 5px;
	padding: 10px;

}

.primary {
    background-color: var(--primary);
    color: white;
}

.secondary {
    background-color: var(--secondary);
    color: white;
}

.tertiary {
    background-color: var(--tertiary);
    color: white;
}

.quaternary {
    background-color: var(--quaternary);
    color: white;
}

.white {
	color: white;
}

.gray {
	color: #505050;
}

.copper {
	color: #b87333;
}

.gold {
	color: #ffd700;
}

.green {
	color: green;
}

.newsHead1 {
    color: var(--secondary);
}

.newsHead2 {
    color: var(--quaternary);
}

a.tile:hover {
	color: inherit;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
	text-decoration: none;
}

p.firstLetter::first-letter {
    font-size: 200%;
    font-family: var(--fontHead);
}

.navbar {
    background-color: var(--primary);
}


