:root {
    --main: white;
    --primary: #230336;
    --secondary: #155a2f;
    --tertiary: rgb(116, 9, 98);
    --quaternary: rgb(17, 170, 132);
    --fontHead: 'Fleur De Leah', cursive;
    --fontBody: 'Lato', sans-serif;
}

body {
    background-color: var(--main);
    font-family: var(--fontBody);
}

h1, h2, h3 {
    font-family: var(--fontHead);
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

.curved {
    border-radius: 5px;
    padding: 10px;
}

.main {
    background-color: var(--main);
    color: black;
}

.primary {
    background-color: var(--primary);
    color: white;
}

.secondary {
    background-color: var(--secondary);
    color: white;
}

.tertiary {
    background-color: var(--tertiary);
    color: white;
}

.quaternary {
    background-color: var(--quaternary);
    color: white;
}

.navbar {
    background-color: var(--primary);
}

.carousel-item a {
    color: var(--quaternary);
}

.primary a {
    color: white;
}

.secondary a {
    color: white;
}

.tertiary a {
    color: white;
}

.quaternary a {
    color: white;
}

.primary-text {
    color: var(--primary);
}

.secondary-text {
    color: var(--secondary);
}

.tertiary-text {
    color: var(--tertiary);
}

.quaternary-text {
    color: var(--quaternary);
}


hr{
    border: 2px solid var(--primary);
}

.carousel-indicators li{
    background-color: var(--primary);
}

