:root{
    --fontBody: 'Libre Baskerville', serif;
    --fontHeader: 'Carattere', cursive;
    --primary: #0052d4;
    --secondary: #65c7f7;
    --tertiary: #9cecfb;
    --quadrenary: #620075;
}


body {
    font-family: var(--fontBody);
}


.magic {
    font-family: var(--fontHeader);
}


.spellSubtext {
    font-weight: normal;
}

.btn-link {
    font-weight: bold;
    color: black !important;
}

a.plain {
    font-weight: bold;
    color: var(--primary);
}

.header {
    position: absolute;
    z-index: 1000;
    top: 210px;
    left: 35%;
    color: white;
    font-size: 4.5rem;
    font-family: var(--fontHeader) !important;

}

.parallax {
    /* The image used */
    background-image: url("../../img/hero/eob-hero.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxBubble {
    /* The image used */
    background-image: url("../../img/EoB/bubblesBig.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue {
    color: var(--primary)!important;
}

.black {
    color: black;
}


li.noStyle {
    list-style: none;
}

a {
    color: var(--primary);
}


    a:hover {
        color: black;
    }

.outline {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    border-radius: 7px;
}

.navbar{
    background-color: var(--secondary);
}

.nav {
    background-image: linear-gradient(to right, var(--tertiary), var(--secondary), var(--primary));
    color: white;
    box-shadow: 6px 4px 15px rgba(0, 0, 0, .5);
    text-shadow: 4px 4px 10px rgba(255, 255, 255, .4);
}

.nav-link.subNav{
    font-size: 2rem;
    font-family: var(--fontHeader) !important;
}

.primaryBg {
    background-image: radial-gradient(var(--tertiary), var(--secondary), var(--primary));
}

.nav-link.active {
    border: none;
    background-color: rgba(0, 0, 0, 0) !important;
    font-weight: bold;
}

.nav-link:hover {
    border: none;
    color: white;
}

.card-body b {
    color: var(--quadrenary);
}

@media only screen and (max-width: 1400px) and (min-width: 1025px) {

}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}